@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
html, body {
	font-size: 14px;
	font-family: Lato;
}
*{
  padding: 0;
  margin: 0;
}

a {
	text-decoration:none;
}
.navbar{
	background:#fff;
	
}
.header-fixed {
	box-shadow: 0 12px 15px rgba(140, 152, 164, 0.1);
	background: #fff;
}
.navbar-brand {
	color: #292929;
	font-weight:700;
	font-size: 28px;
}
.navbar-nav {
	/* width: 100%; */
	justify-content: flex-end;
}
.navbar-nav li {
	padding-left:25px;
}
.navbar-nav li a {
    color: rgb(0 0 0 / 81%);
    font-size: 16px;
    font-weight: 600;
}
.navbar-toggler {
	box-shadow: none!important;
	border: 1px solid #b3b3b3;
	padding: 6px 10px;
}
/* @media only screen and (max-width:768px) {
.navbar-nav li {
 width: 100%;
 float: left;
 padding: 10px 10px 10px 10px;
 border-bottom: 1px solid #ebebeb;
}
} */




.main-section {
	padding-top:50px;
	padding-bottom:100px;
}
.banner-left h1 {
	margin-top:30%;
}
.banner-left h1 {
	font-size: 20px;
	font-weight: 900;
}
.banner-left h2 {
	color: #292929;
	font-size: 60px;
	font-weight: 700;
}
.banner-left h3 {
	color: #292929;
	font-weight: 600;
	font-size: 28px;
	margin-bottom: 30px;
}
.banner-left p {
	font-size: 16px;
	line-height: 30px;
	color: #607D8B;
}
.head-bottom {
	height: 3px;
	width:140px;
	margin-bottom: 9px;
	margin-top: 0px;
	display: inline-block;
	background-color:#ea4020;
}
.banner-btn {
	margin-top: 40px;
}
.banner-btn button {
	padding: 14px 40px;
	border: none;
	border-radius: 8px;
	color: #fff;
	background-color: #ea4020;
	font-size:16px;
}
.banner-top {
	padding: 40px;
	position: relative;
	margin-top:80px;
}
.banner-img {
	border-radius: 50% 50% 0% 50%;
	border: 15px solid #292929 !important;
	position: relative;
	z-index: 99;
	overflow: hidden;
}
.banner-img img {
	width: 100%;
}

.banner-top:before {
	content: "";
	background-image: url(../images/dots.png);
	position: absolute;
	top: 0;
	left: -40px;
	right: 0;
	bottom: 0;
	background-position: left;
	background-size: cover;
	animation-name: rotate;
	animation-duration:80s;
	animation-iteration-count: infinite;
}
@keyframes rotate {
 from {
transform: rotate(-360deg);
}
to {
	transform: rotate(360deg);
}
}
.banner-top:after {
	content: "";
	position: absolute;
	bottom: 0;
	top: 0;
	left: 0;
	width: 200vw;
	border: 20px solid #ea4020;
	border-radius: 310px;
	background: #fff;
}
.typing {
	position: relative;
	width:fit-content;
	padding-right:20px;
}
.typing::after {
 content: "|";
 position: absolute;
 right: 0;
 width: 100%;
 color: black;
 background: #fff;
 animation: typing 6s steps(22) infinite, caret 1s infinite;
}
@-webkit-keyframes typing {
 to {
 width: 0;
}
}
@keyframes typing {
 to {
 width: 0;
}
}
@-webkit-keyframes caret {
 50% {
 color: transparent;
}
}
@keyframes caret {
 50% {
 color: transparent;
}
}

@media only screen and (max-width:768px) {
.banner-left h1 {
 margin-top:80px;
 font-size: 18px;
 font-weight: 600;
}
.banner-left h2 {
 font-size:40px;
 margin: 0px;
}
.banner-left h3 {
 font-size: 22px;
}
.banner-left .head-bottom {
 height: 2px;
 width: 90px;
}
}
.button {
    position: relative;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    padding-block: 0.5rem;
    padding-inline: 1.25rem;
    background-color: rgb(0 107 179);
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffff;
    gap: 10px;
    font-weight: bold;
    border: 3px solid #ffffff4d;
    outline: none;
    overflow: hidden;
    font-size: 15px;
  }
  
  .icon {
    width: 24px;
    height: 24px;
    transition: all 0.3s ease-in-out;
  }
  
  .button:hover {
    transform: scale(1.05);
    border-color: #fff9;
  }
  
  .button:hover .icon {
    transform: translate(4px);
  }
  
  .button:hover::before {
    animation: shine 1.5s ease-out infinite;
  }
  
  .button::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 100%;
    background-image: linear-gradient(
      120deg,
      rgba(255, 255, 255, 0) 30%,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0) 70%
    );
    top: 0;
    left: -100px;
    opacity: 0.6;
  }
  
  @keyframes shine {
    0% {
      left: -100px;
    }
  
    60% {
      left: 100%;
    }
  
    to {
      left: 100%;
    }
  }
  * {
    box-sizing: border-box;
  }
  
  .column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  










  /*
 *  Bootstrap Carousel Effect Ken Burns
 * ===========================================================================*/

@keyframes kenburns {
  0% {
    transform: scale(1);
    transition: transform 20000ms linear 0s;
  }

  100% {
    transform: scale(1.4);
    transition: transform 20000ms linear 0s;
  }
}

/* Carousel Wrapper */
.kb-carousel {
  overflow: hidden;
  max-height: 500px;
  margin-left: 20px;
  margin-right: 20px;
}

/* Carousel Items */
.kb-carousel .carousel-item {
  transition: transform .6s ease-in-out 0s, opacity ease-in-out .6s;
}

.kb-carousel .carousel-item.active {
  transition: transform .6s ease-in-out 0s, opacity ease-in-out .6s;
}

.kb-carousel > .carousel-inner > .carousel-item > img,
.kb-carousel > .carousel-inner > .carousel-item > a > img {
  opacity: 0.8;
  animation: kenburns 20000ms linear 0s infinite alternate;
}

.kb-carousel .carousel-item-next.carousel-item-start .carousel-caption,
.kb-carousel .carousel-item-prev.carousel-item-end .carousel-caption {
  z-index: 0;
  opacity: 0;
}

/* Carousel Captions */
.kb-caption {
  right: 7%;
  left: 7%;
  bottom: 25%;
  padding: 0;
  width: 80%;
}

.kb-caption-left {
  margin-right: 10px;
}

.kb-caption-right {
  margin-left: 10px;
}

.kb-caption-center {
  margin: auto;
}

.kb-caption h1,
.kb-caption h3 {
  padding: 0.5rem 0;
  margin-bottom: 0;
}

.kb-caption h1 {
  animation-delay: 1s;
  color: #bf392b;
  background: #fff;
}

.kb-caption h3 {
  animation-delay: 1.5s;
  color: #fff;
  background: rgba(0 0 0 / 0.5);
}

@media (min-width: 768px) {
  .kb-caption {
    bottom: 37%;
    width: 40%;
  }
}

@media (min-width: 1200px) {
  .kb-caption {
    bottom: 45%;
  }
}

/* Controls */
.kb-control-prev,
.kb-control-next {
  width: 3.5rem;
  height: 3.5rem;
  margin: auto 0;
  opacity: 0;
  color: #fff;
  background: rgba(0 0 0 / 0.7);
}

.kb-carousel:hover .kb-control-prev,
.kb-carousel:hover .kb-control-next {
  opacity: 1;
}

.kb-control-prev {
  left: 1%;
}

.kb-control-next {
  right: 1%;
}

.kb-control-prev:hover,
.kb-control-prev:focus,
.kb-control-next:hover,
.kb-control-next:focus {
  color: #fff;
  background: rgba(0 0 0 / 1);
}

/* Support for dark mode */
[data-bs-theme = "dark"] .carousel .carousel-control-next-icon,
[data-bs-theme = "dark"] .carousel .carousel-control-prev-icon {
  filter: none;
}

  /* Clearfix (clear floats) */
  .row4::after::after {
    content: "";
    clear: both;
    display: table;
  }
.row4 img{
  width: 90px;
  height: 80px;
  margin-left: 160px;
  margin-bottom: 60px;
  border-radius: 10px;
  border: 1px black;
}

 
  .card {
    width: 190px;
    height: 254px;
    border-radius: 20px;
    background: #f5f5f5;
    position: relative;
    padding: 1.8rem;
    border: 2px solid #c3c6ce;
    transition: 0.5s ease-out;
    overflow: visible;
   }
   
   .card-details {
    color: black;
    height: 100%;
    gap: .5em;
    display: grid;
    place-content: center;
   }
   
   .card-button {
    transform: translate(-50%, 125%);
    width: 60%;
    border-radius: 1rem;
    border: none;
    background-color: #008bf8;
    color: #fff;
    font-size: 1rem;
    padding: .5rem 1rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out;
   }
   
   .text-body {
    color: rgb(134, 134, 134);
   }
   
   /*Text*/
   .text-title {
    font-size: 1.5em;
    font-weight: bold;
   }
   
   /*Hover*/
   .card:hover {
    border-color: #008bf8;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
   }
   
   .card:hover .card-button {
    transform: translate(-50%, 50%);
    opacity: 1;
   }
   .card {
    box-sizing: border-box;
    width: 250px;
    height: 450px;
    background: rgb(255, 255, 255);
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-weight: bolder;
    color: black;
    margin: 15px;
}  
.card1 img{
            
    height: 200px;
    width: 200px;
    border-radius: 20px;
    padding: 25px;
}

.hovereffect {
  /* width: 1350px; */
  /* height: 450px; */
  float:left;
  overflow:hidden;
  position:relative;
  text-align:center;
  cursor:default;
  margin-top: 20px;
  margin-right: 15px;
  margin-left: 15px;
  }

  .hovereffect img {
  display:block;
  position:relative;
  -webkit-transition:all .4s linear;
  transition:all .4s linear;
  width: 1350px;
  height: 450px;
  margin-top: 20px;
  
  }
  
  .hovereffect:hover img {
  -ms-transform:scale(1.2);
  -webkit-transform:scale(1.2);
  transform:scale(1.2);
  }
  .container1 {
    position: relative;
    text-align: center;
    color: white;
  }
  .top-left1 {
    position: absolute;
    top: 120px;
    left: 36px;
    color: white;

  } 
  
  .box {
    width: 140px;
    height: auto;
    float: left;
    transition: .5s linear;
    position: relative;
    display: block;
    overflow: hidden;
    padding: 15px;
    text-align: center;
    margin: 0 5px;
    background: transparent;
    text-transform: uppercase;
    font-weight: 900;
  }
  
  .box:before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 4px;
    width: 100%;
    border-bottom: 4px solid transparent;
    border-left: 4px solid transparent;
    box-sizing: border-box;
    transform: translateX(100%);
  }
  
  .box:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-top: 4px solid transparent;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    transform: translateX(-100%);
  }
  
  .box:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
  
  .box:hover:before {
    border-color: white;
    height: 100%;
    transform: translateX(0);
    transition: .3s transform linear, .3s height linear .3s;
  }
  
  .box:hover:after {
    border-color: white;
    height: 100%;
    transform: translateX(0);
    transition: .3s transform linear, .3s height linear .5s;
  }
  
  button {
    color: black;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    margin-right: 280px;
  }
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #fcfcfc;
    font-family: sans-serif;
    
}


*{
    box-sizing: border-box;
}
body{
    background: #fcfcfc;
    font-family: sans-serif;
}
footer{
    background: #111;
 margin-top: 1500px;
    color: #fff;
}

.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3{
  font-size: 2.1rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content p{
  max-width: 500px;
  margin: 15px auto;
  line-height: 28px;
  font-size: 14px;
  color: #cacdd2;
}
.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.socials li{
  margin: 0 10px;
}
.socials a{
  text-decoration: none;
  color: #fff;
  border: 1.1px solid white;
  padding: 5px;

  border-radius: 50%;

}
.socials a i{
  font-size: 1.1rem;
  width: 20px;


  transition: color .4s ease;

}
.socials a:hover i{
  color: aqua;
}

.footer-bottom{
  background: #000;
  /* width: 100vw; */
  padding: 20px;
padding-bottom: 40px;
  text-align: center;
}
.footer-bottom p{
float: left;
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom p a{
color:#44bae8;
font-size: 16px;
text-decoration: none;
}
.footer-bottom span{
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}
.footer-menu{
float: right;

}
.footer-menu ul{
display: flex;
}
.footer-menu ul li{
padding-right: 10px;
display: block;
}
.footer-menu ul li a{
color: #cfd2d6;
text-decoration: none;
}
.footer-menu ul li a:hover{
color: #27bcda;
} 







